/* available fonts  */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap");

@import "tailwindcss";

:root {
  --bg-primary: #fafafa;
  --bg-dark: #664631;
  --orange: #ff7a18;
  --text-secondary: #fff;
  --text-text: #333;
}
@theme inline {
  --color-primary: var(--bg-primary);
  --color-dark: var(--bg-dark);
  --color-orange: var(--orange);
  --font-primary: var(--font-primary);

  /* custom card dimension */

  --spacing-card-h: 300px;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #ffffff;
    --bg-dark: #28282b;
  }
} */

body {
  background: var(--bg-primary);
  color: var(--text-text);
}
